* {
font-family:Arial, Helvetica, sans-serif;
}

body {
}

h1 {
text-align: center;
}

div {
text-align:center;
}
table {
    margin-left:auto;
    margin-right:auto;
    height: 186px;
    width: 374px;
}

